<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwdaUiy_XFIpbvJFR0Kt2QdVQ-YSq49iY</string>
	<key>GCM_SENDER_ID</key>
	<string>581165450744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-1f2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-1f2ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581165450744:ios:1008a7371620f410fbc20d</string>
</dict>
</plist>